 <!DOCTYPE html>
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/cupertino/jquery-ui.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.13.5/css/ui.jqgrid.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.13.5/js/jquery.jqgrid.min.js"></script>
  <title>Coding Test</title>
</head>
<body>
  <div class="container" style="padding:50px;100px;">
    <h1>Coding Test</h1>
	<table id="grid" class="display" cellspacing="0" width="100%"></table>
	<div id="pager2"></div>
  </div>
</body>
</html>
<script type="text/javascript">
  $(document).ready(function(){	
	$("#grid").jqGrid({
		url:'/api/contacts',
		datatype: "json",
		colNames:['ID', 'Name', 'Mail', 'Info'],
		colModel:[
			{name:'id',index:'id', width:55},
			{name:'name',index:'name', width:300,
						editable: true,
						editrules : { required: true}},
			{name:'mail',index:'mail', width:300,
						editable: true,
						editrules : { required: true}},
			{name:'info',index:'info', width:300,
						editable: true}		
		],
		rowNum:1000,
	   pginput : false,
	   pgbuttons : false,
	   viewrecords : false,
	   pgtext : "",
		pager: '#pager2',
		sortname: 'id',
		viewrecords: true,
		sortorder: "desc",
		caption:"",
		reloadAfterSubmit:true
	});

	$('#grid').navGrid('#pager2',
		{ edit: true, add: true, del: true, search: false, refresh: true, view: false, position: "left", cloneToTop: false },
		//Edit dialog
		{
			editCaption: "Edit",
			recreateForm: true,
			mtype: "PUT" ,
			closeAfterEdit: true,
			onclickSubmit: function(rp_ge, postdata) { rp_ge.url = '/api/contact/' + postdata.grid_id;},
			errorTextFormat: function (data) {
				return 'Error: ' + data.responseText
			}
		},
		//Add Dialog
		{mtype: "POST",
			closeAfterAdd: true,
			recreateForm: true,
			onclickSubmit: function(rp_ge, postdata) { rp_ge.url = '/api/contact/'},
			errorTextFormat: function (data) {
				return 'Error: ' + data.responseText
			}
		},
		//Delete Dailog
		{
			mtype: "DELETE",
			onclickSubmit: function(rp_ge, postdata) { rp_ge.url = '/api/contact/' + $("#grid").jqGrid('getGridParam',"selrow");},
			errorTextFormat: function (data) {
				return 'Error: ' + data.responseText
			}
		});
  });
</script>
